#anchorage-board[b-ion752so0z] {
    display: grid;
    position: relative;
    width: 100%; /* or set a fixed width */
    height: 100%; /* or set a fixed height */
    border: 2px solid #ddd; /* Optional: For visualizing the board */
}

.cell[b-ion752so0z] {
    width: 20px;
    height: 20px;
    border: 1px solid #ddd; /* Optional: For visualizing grid cells */
}

.ship[b-ion752so0z] {
    position: absolute;
    background-color: rgba(59,130,246,0.25); /* Example ship color */
    border: 1px solid #1e3a8a; /* Example ship border color */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: grab; /* Indicate that the element is draggable */
}

    .ship.dragging[b-ion752so0z] {
        opacity: 0.5; /* Make it semi-transparent during drag */
    }

    .ship svg[b-ion752so0z] {
        width: 90%;
        height: 80%;
    }
